.projects {
  position: relative;

  //.all-projects {
  // display: flex;
  // flex-wrap: wrap;
  // width: 100%;

  // display: grid;
  // grid-template-columns: 50% 50%;
  // grid-gap: 5px;
  //}
}
