.hello {
  margin-top: 0;
  padding: 2%;
  margin: 0 2% 2% 2%;

  .highlighting {
    background-color: #b0147d;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .subtitle {
    font-size: 20px;
  }
}
