.hello {
  position: relative;
  .content {
    .hello-btn {
      background-color: #b0147d;
      border: 1px solid #b0147d;
      margin: 5px;
      padding: 15px;
      border-radius: 5px;
      color: #fff;

      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: #b0147d;
        border: 1px solid #b0147d;
      }
    }

    .highlighting {
      background-color: #b0147d;
      padding-right: 0.2rem;
      padding-left: 0.2rem;
      font-family: "Merriweather", serif;
    }

    .subtitle {
      font-size: 20px;
    }

    .star {
      background-color: #ffffff;
      border-radius: 100%;
      position: absolute;
      opacity: 0.7;
      &.small {
        width: 5px;
        height: 5px;
      }
      &.medium {
        width: 10px;
        height: 10px;
      }
      &.large {
        width: 15px;
        height: 15px;
      }
    }
  }
}
.canvas {
  margin: 0;
  padding: 0;
  position: absolute;
}
