.skills {
  padding-top: 50px;

  .content {
    display: block;
    width: 100%;

    .other,
    .tools,
    .development {
      width: 100%;
      // border: 1px solid transparent;
      // border-radius: 5px;
      padding: 5px;
      margin: 10px 0;

      .other-list,
      .tools-list,
      .development-list {
        list-style-type: none;
        padding: 0;

        li {
          padding: 10px 5px;
        }
      }
      .skill-title {
        padding: 5px;
        font-weight: bolder;
        background-color: #b0147d;
        font-family: "Merriweather", serif;
      }
    }
  }
}

@media (min-width: 550px) {
  .skills {
    .content {
      display: flex;
      width: 100%;
      .other,
      .tools,
      .development {
        width: 100%;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px;
        margin: 5px;
      }
    }
  }
}
@media (min-width: 850px) {
  .skills {
    .content {
      display: flex;
      width: 100%;
      max-width: 1120px;
      .other,
      .tools,
      .development {
        width: 100%;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 15px;
        margin: 0 5px 0 15px;
      }
    }
  }
}
