.skills {
  position: relative;
  .content {
    // display: flex;

    .heart,
    .tools,
    .knowledge,
    .languages {
      width: 100%;
      // border: 1px solid #fff;
      // border-radius: 5px;
      padding: 15px;
      // margin: 10px;
      // align-content: center;
      display: flex;

      .heart-list,
      .tools-list,
      .knowledge-list,
      .languages-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        li {
          padding: 10px;
          margin: 20px;
        }
      }
      .skill-title {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        // width: 100%;
        font-weight: bold;
        // justify-content: center;
      }
    }
  }
}
