.about-me {
  padding: 2% 4% 2% 2%;
  margin: 0 auto;
  position: relative;
  width: 90%;
  color: #333;

  .wrapper {
    display: flex;
    flex-direction: column-reverse;
    .about-me-left {
      width: 100%;
    }
    .about-me-right {
      width: 100%;
      padding-top: 10px;
      .about-me-photos {
        img {
          width: 100%;
        }
      }
    }
  }

  .about-me-title {
    padding-top: 70px;
  }

  .about-me-text {
    padding-top: 30px;

    .about-me-link {
      color: #333;
      &:hover {
        color: #b0147d;
      }
    }
    .about-me-paragraph {
      font-size: 18px;
      line-height: 200%;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 550px) {
  .about-me {
    .wrapper {
      display: flex;
      flex-direction: row;

      .about-me-left {
        width: 60%;
      }
      .about-me-right {
        width: 40%;
        padding-top: 40px;
        right: 1%;
        position: fixed;

        .about-me-photos {
          img {
            width: 100%;
          }
        }
      }
    }
    .about-me-title {
      padding-top: 60px;
    }
  }
}

@media (min-width: 850px) {
  .about-me {
    .wrapper {
      display: flex;
      flex-direction: row;

      .about-me-left {
        width: 60%;
      }
      .about-me-right {
        width: 38%;
        padding-top: 45px;
        right: 1%;
        position: fixed;

        .about-me-photos {
          img {
            width: 100%;
          }
        }
      }
    }
    .about-me-title {
      padding-top: 60px;
    }
  }
}
