.about-me {
  width: 100%;

  padding: 5%;
  .wrapper {
    display: flex;
    .about-me-left {
      width: 60%;
    }
    .about-me-right {
      width: 40%;
      padding-top: 50px;
      right: 0;
      position: fixed;

      .about-me-photos {
        img {
          width: 100%;
        }
      }
    }
  }

  .about-me-title {
    padding-top: 60px;
    color: #333;
  }

  .about-me-text {
    padding-top: 30px;
    color: #333;

    .about-me-link {
      color: #333;
      &:hover {
        color: #b0147d;
      }
    }
    .about-me-paragraph {
      font-size: 18px;
      line-height: 200%;
      padding-bottom: 20px;
    }
  }
}
