.header {
  background-color: #192841;
  z-index: 6;

  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 15px 5px 10px;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  align-items: center;
  box-shadow: 2px 2px 25px #000000;

  .go-back {
    z-index: 3;
    a {
      color: #fff;
      text-decoration: none;
      font-weight: bolder;
      font-family: "Merriweather", serif;

      &:hover {
        text-decoration: underline;
        color: #b0147d;
      }
    }
  }
  .socialmedia-links {
    display: flex;
    right: 50px;
    padding-right: 20px;
    z-index: 3;
    .social-item {
      img {
        width: 35px;
        padding: 5px;
      }
    }
  }
}
