.find-me {
  margin-top: 10px;
  display: flex;
  align-items: center;
  .find-me-title {
    font-size: 15px;
  }
  .social-media {
    display: flex;

    .social-item {
      margin: 10px;
      img {
        width: 30px;
      }
    }
  }
}
