.project {
  padding: 2%;
  margin: 0 auto;
  position: relative;
  width: 70%;
  color: #333;

  .project-name {
    padding-top: 50px;
  }

  .project-stack {
    display: flex;
    padding: 5px 0 30px 0;
    .element-stack {
      background-color: #b0147d;
      margin: 5px;
      padding: 5px;
      color: #fff;
    }
  }

  .project-img {
    position: relative;
    img {
      width: 100%;
      border: 1px solid #999;
    }
    .single-project-btn {
      background-color: #b0147d;
      border: 1px solid #b0147d;
      margin: 5px;
      padding: 15px;
      border-radius: 100%;
      color: #fff;
      width: 80px;
      height: 80px;

      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      position: absolute;
      bottom: 5px;
      right: 5px;

      &:hover {
        background-color: #fff;
        color: #b0147d;
        border: 1px solid #b0147d;
      }
    }
  }

  .project-all-text {
    padding-top: 30px;
    .website {
      .website-link {
        font-family: "Merriweather", serif;
        font-size: 20px;
        color: #333;
        &:hover {
          color: #b0147d;
        }
      }
    }
    .project-text {
      font-size: 18px;
      line-height: 200%;
      padding-bottom: 20px;
    }
  }
}
