.project {
  padding: 2% 4% 2% 2%;
  margin: 0 auto;
  position: relative;
  width: 90%;
  color: #333;

  .project-name {
    padding-top: 70px;
  }

  .project-stack {
    display: flex;
    padding: 5px 0 30px 0;
    flex-wrap: wrap;
    .element-stack {
      background-color: #b0147d;
      margin: 5px;
      padding: 5px;
      color: #fff;
      font-size: 12px;
    }
  }

  .project-img {
    position: relative;
    border: 1px solid #999;

    img {
      width: 250%;
    }
    .single-project-btn {
      background-color: #b0147d;
      border: 1px solid #b0147d;
      margin: 5px;
      padding: 10px;
      border-radius: 100%;
      color: #fff;
      width: 50px;
      height: 50px;

      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      position: absolute;
      bottom: 5px;
      right: 5px;

      &:hover {
        background-color: #fff;
        color: #b0147d;
        border: 1px solid #b0147d;
      }
    }
  }

  .project-all-text {
    padding-top: 30px;
    .website {
      .website-link {
        font-family: "Merriweather", serif;
        font-size: 20px;
        color: #333;
        &:hover {
          color: #b0147d;
        }
      }
    }
    .project-text {
      font-size: 18px;
      line-height: 200%;
      padding-bottom: 20px;
    }
  }
}

@media (min-width: 550px) {
  .project {
    padding: 2%;
    width: 80%;

    .project-name {
      padding-top: 50px;
    }
    .project-stack {
      display: flex;
      padding: 5px 0 30px 0;
      .element-stack {
        font-size: 15px;
      }
    }
    .project-img {
      img {
        width: 150%;
      }
      .single-project-btn {
        width: 65px;
        height: 65px;
        padding: 15px;
      }
    }
  }
}

@media (min-width: 850px) {
  .project {
    padding: 2%;
    width: 70%;
    .project-name {
      padding-top: 50px;
    }
    .project-stack {
      display: flex;
      padding: 5px 0 30px 0;
      .element-stack {
        font-size: 15px;
      }
    }
    .project-img {
      img {
        width: 100%;
      }
      .single-project-btn {
        width: 80px;
        height: 80px;
        padding: 15px;
      }
    }
  }
}
