.project {
  padding: 2%;
  margin: 0 2% 0 2%;
  position: relative;

  .project-name {
    padding-top: 50px;
  }

  .project-stack {
    display: flex;
    .element-stack {
      background-color: #b0147d;
      margin: 5px;
      padding: 5px;
    }
  }

  .project-img {
    position: relative;
    img {
      width: 60%;
    }
    .single-project-btn {
      background-color: #b0147d;
      border: 1px solid #b0147d;
      margin: 5px;
      padding: 15px;
      border-radius: 100%;
      color: #fff;
      width: 80px;
      height: 80px;

      font-size: 18px;
      font-weight: bold;
      cursor: pointer;

      position: absolute;
      bottom: 5px;
      left: 50%;

      &:hover {
        background-color: #fff;
        color: #b0147d;
        border: 1px solid #b0147d;
      }
    }
  }

  .project-all-text {
    .project-text {
      // font-family: "Merriweather", serif;
      font-size: 18px;
      line-height: 30px;
    }
  }
}
