.single-project {
  margin: 5px;
  width: 380px;

  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    background-color: #b0147d;
    border: 1px solid #b0147d;
  }

  .single-project-content {
    display: flex;
    text-decoration: none;

    .single-project-info {
      padding: 10px;
      width: 100%;
      .single-project-name {
        color: #fff;
        background-color: #b0147d;
        padding: 5px;
      }
      .single-project-description {
        color: #fff;
        padding: 10px 0;
      }
    }

    .single-project-icon {
      margin: 10px;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 60px;
      height: 60px;

      img {
        width: 50px;
        margin-left: 3px;
        margin-top: 3px;
      }
    }
  }

  // .single-project-btn {
  //   background-color: #b0147d;
  //   border: 1px solid #b0147d;
  //   margin: 5px;
  //   padding: 15px;
  //   border-radius: 100%;
  //   color: #fff;
  //   width: 80px;
  //   height: 80px;

  //   font-size: 18px;
  //   font-weight: bold;
  //   cursor: pointer;

  //   position: absolute;
  //   bottom: 0;
  //   right: 1%;

  //   &:hover {
  //     background-color: #fff;
  //     color: #b0147d;
  //     border: 1px solid #b0147d;
  //   }
  // }
}
