.single-project {
  margin: 5px;
  width: 100%;
  border: 1px solid transparent;

  &.on {
    background-color: transparent;

    cursor: pointer;

    .single-project-content {
      display: block;
    }
  }

  &.soon {
    background-color: #999;
    opacity: 0.7;
    width: 100%;
    padding: 20px;

    .single-project-name-soon {
      color: #fff;
      padding: 5px;
    }
  }

  .single-project-content {
    display: flex;
    text-decoration: none;

    .single-project-screen {
      opacity: 0.7;
      width: 1120px;

      &:hover {
        opacity: 1;
      }
    }

    .single-project-info {
      padding: 0px;
      width: 100%;
      .single-project-name {
        z-index: 2;
        color: #fff;
        background-color: #b0147d;
        padding: 10px;
        font-family: "Merriweather", serif;
        font-size: 25px;
        position: absolute;
        top: 25%;
      }
      .single-project-description {
        color: #fff;
        padding: 10px 5px;
      }
    }

    .single-project-icon {
      width: 50px;
      height: 50px;
      border: 1px solid #fff;
      border-radius: 100%;
      margin: 5px 5px 5px 0;

      img {
        width: 40px;
        margin-left: 1px;
        margin-top: 3px;
      }
    }
  }
}

@media (min-width: 550px) {
  .single-project {
    &.soon {
      width: 1120px;
    }

    .single-project-content {
      .single-project-icon {
        width: 60px;
        height: 60px;
        margin: 0 10px;
        img {
          width: 50px;
          margin-left: 2px;
          margin-top: 3px;
        }
      }
    }
  }
}

@media (min-width: 850px) {
  .single-project {
    &.soon {
      width: 1120px;
    }

    .single-project-content {
      .single-project-icon {
        width: 60px;
        height: 60px;
        margin: 5px 15px 5px 0;
        img {
          width: 50px;
          margin-left: 3px;
          margin-top: 3px;
        }
      }
    }
  }
}
